$regular-font: 'open_sans';

$text-color: #364760;
$navigation-text-color: #8692b2;
$navigation-color: #444c63;
$light-green-color: #00b5f9;
$white-text: #fff;

$main-font-size: 12px;
$title-font-size: 16px;

.hide {
    display: none;
}